
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {box-sizing: border-box;}

body{background: #F2F2F2;
  overflow-x: hidden;
}
.form__name {
  position: relative;
  width: 552px;

}
/*это само поле с кнопкой и иконкой слева*/
.form__dropdown {
  position: relative;
  width: 552px;

}
.dropdown{
  width: 122px;

}
.dropdown input {
  width: 100%;
  height: 56px;
  padding-left: 50px;
  border: 1px solid #EAEAF3;
  border-radius: 12px;
  outline: none;
  background: #FFFFFF;
  font-family: Ubuntu;
  line-height: 24px;
  font-size: 18px;
  font-weight: 300;
}
.dropdown input:focus, .dropdown input:hover{
  border: 1px solid #19B7BB;
  transition: all 0.5s ease 0s;
}
.arrow_con svg:hover, .arrow_con svg:focus{
  transform: rotate(180deg);
  fill: #fff;
  transition: all 0.5s ease 0s;
}
.dropdown .button__question {
  position: absolute;
  left: 0;
  top: 0;
  margin: 16px 0 16px 17px;
  color: #BCBCC7;
  background: url(../img/input-question-icon.svg) no-repeat;
  height: 30px;
  width: 22px; 
  border: none;
  cursor: pointer;
}
.dropdown .button__question:focus, .dropdown .button__question:hover{
  color: #252729;
}
.buttonn__arrow{
  position: absolute;
  right: 0;
  top: 0;
  margin: 16px 16px 16px 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #EAEAF3;
  border-radius: 20px;
  cursor: pointer;
}
.buttonn__arrow:hover, .buttonn__arrow:focus{
  background-color: #19B7BB;
  transition: all 0.5s ease 0s;
}
.arrow_con{
  display: block;
  position: relative;
  z-index: 4;
  width: 100%;
}
.arrow_con svg{
  fill: #BCBCC7;
}
.arrow_con svg:hover, .arrow_con svg:focus{
  transform: rotate(180deg);
  fill: #fff;
  transition: all 0.5s ease 0s;
}


/*это для списка*/
.dropdown-child {
  width: 552px;
  position: absolute;
  top: 60px;
  display: none;
  background-color: #fff;
  border-radius: 12px;
}
.dropdown-child a {
  color: #252729;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 0 8px 16px;
  border-bottom: 1px solid #EAEAF3;
  text-decoration: none;
  display: block;
}
.dropdown-child a:hover{
  color: #BCBCC7;
  transition: all 0.5s ease 0s;
}
.dropdown-child a:last-child {
  border-bottom: 0px solid #EAEAF3;
}
.dropdown:hover .dropdown-child {
  display: block;
}





.scroll {
  background: linear-gradient(180deg, #F7D479 0%, #EBBD46 100%);
  width: 48px;
  height: 72px;
  border-radius: 100px;
  
}
.circle {
  position: relative;
  top: 23%;
  margin: 0 auto;
  text-align: center;
  width: 23px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 100px;
}
.circle__dot {
  position: relative;
  top: 23%;
  margin: 0 auto;
  text-align: center;
  width: 2px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 100px;
}

.scroll, .circle__dot:hover{
  top: 40%;
  transition: all 0.5s ease 0s;
}

.input_name input {
  width: 100%;
  height: 56px;
  padding-left: 50px;
  border: 1px solid #EAEAF3;
  border-radius: 12px;
  outline: none;
  background: #FFFFFF;
  font-family: Ubuntu;
  line-height: 24px;
  font-size: 18px;
  font-weight: 300;
}
.input_name input:focus, .input_name input:hover{
  border: 1px solid #19B7BB;
  transition: all 0.5s ease 0s;
}
.input_name button {
  position: absolute;
  left: 0;
  top: 0;
  margin: 16px 0 16px 17px;
  color: #BCBCC7;
  background: url(../img/input-user-icon.svg) no-repeat;
  height: 22px;
  width: 22px; 
  border: none;
  cursor: pointer;
}
.input_name button:focus, .input_name button:hover{
  color: #252729;
}
.botom{
  padding: 20px;
}
.bottom{
  padding: 0 0 16px 0;
}
.dropdown{
  width: 122px;
  height: 56px;
}
.mars {
  width: 122px;
  height: 40px;

  border: 1px solid #EAEAF3;
  border-radius: 25px;
  outline: none;
  background: #FFFFFF;
  font-family: Ubuntu;
  line-height: 24px;
  font-size: 18px;
  font-weight: 300;
}
.mars{

 text-align: left;  
 position: absolute;
 padding-left: 50px;
}
.mars1 {
  width: 122px;
  height: 140px;
  border: 1px solid #EAEAF3;
  border-radius: 25px;
  outline: none;
  background: #FFFFFF;
  font-family: Ubuntu;
  line-height: 24px;
  font-size: 18px;
  font-weight: 300; 
}


a:hover {
 color: #BCBCC7;
 transition: all 0.5s ease 0s
}
.dropdown-menu a{
  text-decoration: none;
}
.mars1 li:last-child{
  border-bottom: 0px;
}

.mars2{
  margin: 8px 0;  
}
.bt1{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  text-align: top;
  position: absolute;
  width: 158px;
  height: 56px;
  left: 31px;
  top: 1099px;


}
.bt2{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 115px;
  height: 56px;
  left: 211px;
  top:1099px;
}
.bt3:focus{
  box-shadow: 0px 8px 16px 0px #19B7BB52;
  transition: all 0.7s ease 0s;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15) inset;

}
.bt3:hover{

  box-shadow: 0px 8px 16px 0px #19B7BB52;
  transition: all 0.7s ease 0s;


}

.spas{
  position: static;
  width: 182px;
  height: 32px;
  left: 32px;
  top: 16px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;


  color: #FFFFFF;




}
.dropdown-child a:hover{
  color: #BCBCC7;
  border-bottom: 1px solid #19B7BB;
  transition: all 0.5s ease 0s;
}
.bt3{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 246px;
  height: 64px;
  left: 116px;
  top: 650px;
}
.teleg{

  position: absolute;
  width: 264px;
  height: 48px;
  left: 31px;
  top: 1179px;

  /* white */

  background: #FFFFFF;
  /* lighGrey_2 */

  border: 1px solid #EAEAF3;
  box-sizing: border-box;
  /* btnShadow */

  box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  border-radius: 12px;

}
.telegimage{
  position: absolute;
  left: 20px;

}
.telegt{
 font-family: Ubuntu;
 font-style: normal;
 font-weight: 300;
 font-size: 18px;
 line-height: 24px;

 /* black */

 color: #252729
}
.Grad{
  /* bestGradient */
  border: none;
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
  border-radius: 12px;
}
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,300,700,500");

.social {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  display: block;
  position: relative;
  cursor: pointer;
}
.social svg{
  position: absolute;
  margin: 10px;
  z-index: 100;
  fill: #19B7BB;
}
.social:hover{
  background-color: #19B7BB;
  box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  transition: all 0.5s ease 0s;
}
.social:hover.social svg{
  fill: #fff;
  transition: all 0.5s ease 0s;
}

.social:focus{
  background-color: #19B7BB;
  box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease 0s;
}
.social:focus.social svg{
  fill: #fff;
  transition: all 0.5s ease 0s;
}

.scroll {
  background: linear-gradient(180deg, #F7D479 0%, #EBBD46 100%);
  width: 48px;
  height: 72px;
  border-radius: 100px;
  
}
.circle {
  position: relative;
  top: 23%;
  margin: 0 auto;
  text-align: center;
  width: 23px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 100px;
}
.circle__dot {
  position: relative;
  top: 23%;
  margin: 0 auto;
  text-align: center;
  width: 2px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 100px;
}

.scroll, .circle__dot:hover{
  top: 40%;
  transition: all 0.5s ease 0s;
}
/* main page*/
.mainpage{
  position: absolute;
  width: 1800px;
  height: 960px;
  left: 60px;
  top: 60px;

  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 24px rgba(126, 120, 120, 0.1);
  backdrop-filter: blur(150px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 48px;
}
.mainpage-img{
  position: absolute;
  width: 2453.57px;
  height: 1497.53px;
  left: -323.57px;
  top: -62px;

}
.gexabyte_logo {
  position: absolute;
  width: 280px;
  height: 32px;
  left: 56px;
  margin-top: 48px;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  left: 400px;
  right: 907px;
  top: 52px;
  bottom: 884px;


}
a {
  color: #26323E;
  text-decoration: none;
}
.textnavbar a{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;

}
.navbar1{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  left: 927px;
  right: 527px;
  top: 52px;
  bottom: 884px;
  width: 100%;
}
.textnavbar a:last-child{
  padding: 10px;

}
.rectangle-on-menu-blue{
  position: absolute;
  width: 2px;
  height: 32px;
  right: 889px;
  left: 909px;
  bottom: 880px;
  top: 48px;

  /* mainColor */

  background: #19B7BB
}

.social_pos{
  position: absolute;


  right: 282px;
  top: 44px;

}
.social_pos1{
 position: absolute;

 right: 226px;
 top: 44px;
}
.social_pos2{
 position: absolute;

 right: 170px;
 top: 44px;
}
.position-rus-eng{

  position: absolute;

  right: 32px;
  top: 44px;

}
.textindex{
  position: absolute;
  width: 800px;
  height: 160px;
  left: 116px;
  top: 310px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  /* or 125% */
}
.textindex1{
  position: absolute;
  width: 600px;
  height: 108px;
  left: 116px;
  top: 502px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */


  color: #363E4D;

}
.btn-white{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;

  position: absolute;
  width: 222px;
  height: 64px;
  left: 386px;
  top: 650px;

  /* white */

  background: #FFFFFF;
  /* btnShadow */

  box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);

}
.spas1 {
  position: static;
  width: 158px;
  height: 32px;
  left: 32px;
  top: 16px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */


  /* black */

  color: #252729;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10
}
.background01010{
  position:absolute;

  left: 150px;
  top: 167px;
  box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
  filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(0, 0, 0, 0.2));
  opacity: 0.25;
}
.main-img-start{
  position: absolute;

  left: 888px;
  top: 227px;
}
.scroll_pos{
 position: absolute;

 left: 876px;
 top: 976px;
}